- if flash[:info]
  .info= flash[:info]

- if flash[:notice]
  .notice= flash[:notice]

- if flash[:alert]
  .alert= flash[:alert]

- if flash[:error]
  .error= flash[:error]

- if flash[:success]
  .success= flash[:success]
